@import '@/styles/shared-imports.scss';

.hero {
  @include position-fit(fixed);

  background: var(--color-black);
  width: 100%;
  height: 100dvh;
  color: var(--color-white-lilac);
  padding: 0 rem($globalPaddingMobile);
  display: flex;
  align-items: center;

  @include above('desktop') {
    padding: 0 vw($globalPaddingDesktop);
  }

  &::before {
    @include position-fit;

    content: '';
    background: url('../../../assets/images/brunoeng-bg_low.png') no-repeat 70% / cover;
    opacity: 0.3;
    z-index: -1;

    @include above('desktop') {
      background: url('../../../assets/images/brunoeng-bg_low.png') no-repeat 28% 28% /
        cover;
    }
  }
}

.overlay {
  @include position-fit();

  background: var(--color-shark);
  z-index: z('above');
  opacity: 0;
  pointer-events: none;
}

.name {
  // font-size: rem(70);
  font-size: vw(320);

  font-weight: 700;
  line-height: 0.9;
  word-break: break-word;

  @include above('desktop') {
    font-size: vw(180);
  }
}

.role {
  font-size: rem(12);
  text-transform: uppercase;
  margin-top: rem(30);
  letter-spacing: rem(2);
  word-break: break-word;

  @include above('desktop') {
    font-size: vw(20);
    margin-top: vw(50);
    letter-spacing: vw(2);
  }
}

.slash {
  font-size: rem(10);
  margin: 0 rem(10);
  color: var(--color-radical-red);
  vertical-align: middle;

  @include above('desktop') {
    font-size: vw(15);
    margin: 0 vw(15);
  }
}
